.request-detail-container .ant-descriptions-item-label {
  width: 100px;
}

.request-detail-container .ant-descriptions-item-content {
  display: inline-block;
  word-break: break-all;
  width: calc(100% - 100px);
}
