.request-detail-container .ant-descriptions-item-label {
  width: 200px; /* 너비 조정을 원하는 크기로 설정해주세요 */
}

.request-detail-container .ant-descriptions-item-content {
  display: inline-block;
  word-break: break-all;
  width: calc(100% - 100px); /* 너비 조정을 원하는 크기에 따라 설정해주세요 */
}
