.request-detail-container .ant-descriptions-item-label {
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: bold;
  width: fit-content;
}

.request-detail-container .ant-descriptions-item-content {
  /* font-family: 'Gowun Dodum', sans-serif;
  font-weight: bold; */
  /* display: inline-block; */
  word-break: break-all;
  width: calc(100% - 100px);
}
