// 해상도 470px ~
@media all and (min-width: 470px) {
  .list {
    margin-left: 5%;
  }
}

// 해상도 420px ~ 469px
@media all and (min-width: 420px) and (max-width: 469px) {
  .tab {
    .submenu {
      font-size: 0.9rem;
    }
  }

  .scard {
    height: 220px;
  }

  .h5 {
    height: 60px;
  }

  .h4 {
    height: 60px;
  }

  .calendarmg {
    margin-left: 4%;
  }

  .user-info-tab {
    ul {
      li {
        font-size: 1.1rem;
      }
    }
  }

  .list {
    margin-left: 2%;
  }

  .upbox {
    height: 450px;
  }

  .box1 {
    margin-left: calc(100% / 12);
    width: 130px;
  }

  .box2 {
    height: fit-content;
    padding: 8% 5% 5% 5%;
    border-bottom: 5px solid #f5a302;
  }

  .imageposition {
    width: 200px;
    height: 200px;
    margin-top: calc(100% / 10);
    margin-left: calc(100% / 10);
    border: 2px solid #2ba5f7;

    img {
      min-width: 200px;
      min-height: 200px;
      border: 2px solid #2ba5f7;
    }
  }

  .nameblock {
    word-spacing: 15px;
    &.a {
      letter-spacing: 5px;
      font-size: 1.5rem;
    }
    &.b {
      font-size: 1.1rem;
    }
  }

  .emailblock {
    font-size: 1.1rem;
  }

  .file-upload {
    width: 350px;
  }
}

// 해상도 380px ~ 419px
@media all and (min-width: 380px) and (max-width: 419px) {
  .tab {
    .submenu {
      font-size: 0.8rem;
    }
  }

  .calendarmg {
    margin-left: 3%;
  }

  .user-info-tab {
    ul {
      li {
        font-size: 1rem;
      }
    }
  }

  .list {
    margin-left: 1%;
  }

  .upbox {
    height: 400px;
  }

  .box1 {
    margin-left: calc(100% / 10);
    width: 120px;
  }

  .box2 {
    padding: 5% 5% 5% 5%;
    border-bottom: 4px solid #f5a302;
  }

  .imageposition {
    width: 165px;
    height: 165px;
    margin-top: calc(100% / 10);
    margin-left: calc(100% / 10);
    border: 1px solid #2ba5f7;

    img {
      min-width: 165px;
      min-height: 165px;
      border: 1px solid #2ba5f7;
    }
  }

  .nameblock {
    margin-left: 3%;
    word-spacing: 10px;
    &.a {
      letter-spacing: 5px;
      font-size: 1.4rem;
    }
    &.b {
      font-size: 1rem;
    }
  }

  .emailblock {
    font-size: 1rem;
  }

  .file-upload {
    width: 300px;
  }
}

// 해상도 ~ 379px
@media all and (max-width: 379px) {
  .tab {
    .submenu {
      font-size: 0.7rem;
    }
  }

  .c {
    height: 90px;
  }

  .calendarmg {
    margin-left: 2%;
  }

  .user-info-tab {
    ul {
      li {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;

        span {
          margin-top: 10px;
        }
      }
    }
  }

  .list {
    margin-left: -2%;
  }

  .upbox {
    height: 350px;
  }

  .box1 {
    margin-left: calc(100% / 14);
    width: 120px;
  }

  .box2 {
    padding: 5% 5% 5% 5%;
    border-bottom: 3px solid #f5a302;
  }

  .imageposition {
    width: 150px;
    height: 150px;
    margin-top: calc(100% / 10);
    margin-left: calc(100% / 10);

    img {
      min-width: 150px;
      min-height: 150px;
    }
  }

  .nameblock {
    margin-left: 3%;
    word-spacing: 5px;
    &.a {
      letter-spacing: 5px;
      font-size: 1.3rem;
    }
    &.b {
      font-size: 0.9rem;
    }
  }

  .emailblock {
    font-size: 0.9rem;
  }

  .file-upload {
    width: 275px;
  }
}
