.star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
  // text-align: left;
  // padding-left: 50px;
  // display: flex;
  margin: auto 0;
}

.star span {
  width: 0%;
  position: absolute;
  left: 0;
  color: #ffc107;
  overflow: hidden;
  pointer-events: none;
  // padding-left: 50px;
  margin: auto 0;
}
